@model ZaksMarketplace.Models.EoDLunchModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EoDLunchModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChefSalad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChefSalad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CranSalad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CranSalad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaeserSalad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaeserSalad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RanchDressingCup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RanchDressingCup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BalsamicDressingCup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BalsamicDressingCup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChickenSaladSam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChickenSaladSam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColdItalian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColdItalian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuffaloRanch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuffaloRanch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuffaloBleu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuffaloBleu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurkeyClub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurkeyClub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLTCClub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLTCClub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortabelloWrap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortabelloWrap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrilledCheese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrilledCheese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurkeyApple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurkeyApple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HamCheese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HamCheese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLTCWrap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLTCWrap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Date }) |
    @Html.ActionLink("Back to List", "Index")
</p>
